<div>
  <form class="dropdown" [formGroup]="form">
    <mat-form-field class="dropdown__input">
      <input
        type="text" placeholder="Choose city" aria-label="Choose city"
        matInput [formControl]="cityFormControl" [matAutocomplete]="city" required>
      <mat-autocomplete #city="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredCityOptions | async"
                    [value]="option" (click)="newCitySelect(); weatherByCity(option.city)">
          {{ option.city }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="dropdown__input" *ngIf="cityFormControl.valid">
      <input
        type="text" placeholder="Choose data" aria-label="Choose collection"
        #collection name="collection"
        matInput [formControl]="collectionFormControl" [matAutocomplete]="collection">
      <mat-autocomplete #collection="matAutocomplete">
        <mat-option (click)="weatherByCity(cityFormControl.value.city)"
                    [value]="'Get current weather data'">
          Get current weather data
        </mat-option>
        <mat-option (click)="weatherBy5Days(cityFormControl.value.city)"
                    [value]="'Get weather for 5 days / 3 hours'">
          Get weather for 5 days / 3 hours
        </mat-option>
        <mat-option (click)="weatherBy16Days(cityFormControl.value.city)"
                    [value]="'Get weather for 16 days'">
          Get weather for 16 days
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div *ngIf="weather.length > 0" [ngSwitch]="collectionFormControl.value">
    <current-weather
      *ngSwitchCase="'Get current weather data'"
      [city]="cityFormControl.value.city" [weather]="weather" [date]="'Now'">
    </current-weather>
    <current-weather
      *ngSwitchDefault
      [city]="cityFormControl.value.city" [weather]="weather">
    </current-weather>
  </div>
</div>
