@import "~src/assets/styles/variables";

:host {
  display: block;
  margin: 50px 0;
}

.menu {
  display: block;
  overflow: auto;
  padding: 0 40px;
  text-align: center;
}
input {
  outline: 0;
  font-size: 16px;
  padding: 10px 40px 10px 15px;
  margin: 10px;
  width: 30%;
  background: $white;
  color: $text;
  flex-grow: 1;
  border: 1px solid $border;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  word-break: break-word;
  &:focus {
    border-color: darken($border, 50%);
  }
  &::-webkit-input-placeholder {
    color: lighten($text, 40%);
  }
}

button {
  display: inline;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 2px;
  background: darken($background, 5%);
  color: $text;
  padding: 10px 18px;
  margin: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: darken($background, 10%);
  }
}
