<div>
  <form class="dropdown" [formGroup]="form">
    <mat-form-field class="dropdown__input">
      <input
        type="text" placeholder="Choose city" aria-label="Choose city"
        matInput [formControl]="formControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
          (click)="weatherByCity(option.city)">
          {{ option.city }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <city-weather
    *ngIf="weather"
    [weather]="weather">
  </city-weather>
</div>
