<div class="weather">
  <div class="weather__city">
    <h1>
      {{ city }}
    </h1>
  </div>
  <div *ngFor="let weather of weather">
    <div class="weather__info">
      <div class="weather__info--title">
        <p><img src="{{ weather.cloudiness.icon }}"></p>
        <p>
          {{ date ? date : weather.date | date:'dd/MM/yy, H:mm' }}:
          {{ weather.cloudiness.description }}
        </p>
      </div>
      <div class="weather__subinfo">
        <div class="weather__subinfo--detail">
          <p>Temperature:</p>
        </div>
        <div class="weather__subinfo--description">
          <p>{{ weather.temperature }}</p>
        </div>
      </div>
      <div class="weather__subinfo">
        <div class="weather__subinfo--detail">
          <p>Humidity:</p>
        </div>
        <div class="weather__subinfo--description">
          <p>{{ weather.humidity }}</p>
        </div>
      </div>
      <div class="weather__subinfo">
        <div class="weather__subinfo--detail">
          <p>Pressure:</p>
        </div>
        <div class="weather__subinfo--description">
          <p>{{ weather.pressure }}</p>
        </div>
      </div>
      <div class="weather__subinfo">
        <div class="weather__subinfo--detail">
          <p>Wind:</p>
        </div>
        <div class="weather__subinfo--description">
          <p *ngIf="weather.wind.deg">{{ weather.wind.direction }} ({{ weather.wind.deg }})</p>
          <p>{{ weather.wind.speed }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
