@import "~src/assets/styles/variables";

:host {
  display: block;
  margin: 50px 0;
}

.weather {
  position: relative;
  background: $white;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .1);
  border: 1px solid $border;
  border-radius: 10px;
  overflow: hidden;
  &__city {
    display: flex;
    align-items: center;
    padding: 30px;
    background: $background;
    border-bottom: 1px solid $border;
  }
  &__info {
    display: block;
    overflow: auto;
    padding: 0 40px;
  }
  h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  p {
    font-size: 20px;
    color: $text;
    font-style: italic;
    text-align: center;
    overflow: hidden;
  }
  img {
    padding: 15px 0 0;
  }

}
