@import "~src/assets/styles/variables";

:host {
  width: 100%;
}

.header {
  background: darken($background, 10%);
  border-bottom: 1px solid #c1cedb;
  padding: 15px 0;
  text-align: center;
  img {
    display: inline-block;
    width: 150px;
  }
}

.wrapper {
  max-width: 800px;
  width: 96%;
  margin: 0 auto;
}
